/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.js","import":"Geist","arguments":[{"variable":"--font-geist-sans","subsets":["latin"]}],"variableName":"geistSans"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ba015fad6dcf6784-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/569ce4b8f30dc480-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Geist Fallback';src: local("Arial");ascent-override: 95.94%;descent-override: 28.16%;line-gap-override: 0.00%;size-adjust: 104.76%
}.__className_4d318d {font-family: 'Geist', 'Geist Fallback';font-style: normal
}.__variable_4d318d {--font-geist-sans: 'Geist', 'Geist Fallback'
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.js","import":"Geist_Mono","arguments":[{"variable":"--font-geist-mono","subsets":["latin"]}],"variableName":"geistMono"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/747892c23ea88013-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/93f479601ee12b01-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Geist Mono Fallback';src: local("Arial");ascent-override: 74.67%;descent-override: 21.92%;line-gap-override: 0.00%;size-adjust: 134.59%
}.__className_ea5f4b {font-family: 'Geist Mono', 'Geist Mono Fallback';font-style: normal
}.__variable_ea5f4b {--font-geist-mono: 'Geist Mono', 'Geist Mono Fallback'
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.js","import":"Roboto","arguments":[{"variable":"--font-roboto","subsets":["latin"],"weight":["400","700"]}],"variableName":"roboto"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'Roboto Fallback';
  src: local("Arial");
  ascent-override:92.98%;
  descent-override:24.47%;
  line-gap-override:0.00%;
  size-adjust:99.78%;
}@font-face {font-family: 'Roboto Fallback Fallback';src: local("Arial");ascent-override: 92.98%;descent-override: 24.47%;line-gap-override: 0.00%;size-adjust: 99.78%
}.__className_a7f227 {font-family: 'Roboto Fallback', 'Roboto Fallback Fallback';font-style: normal
}.__variable_a7f227 {--font-roboto: 'Roboto Fallback', 'Roboto Fallback Fallback'
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --background: #FFFAEC;
  --foreground: #628461;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  scroll-behavior: smooth;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  line-height: 25px;
}

h1 {
  font-size: 3rem;
}

h2{
  font-size: 3vw;
  margin-bottom: 50px;
}

section {
  padding: 100px 0px 0 0px;
}

main img {
  border-radius: 24px;
}

.textCenter {
  text-align: center;
}

.textEnd {
  text-align: end;
}

.textStart {
  text-align: start;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.centerColumn {
  display: flex;
  flex-direction: column;
}

.eventContainer {
  text-align: end;
}

.gap20 {
  gap: 20px;
}

.gap40 {
  gap: 40px;
}

.gap100 {
  gap: 100px;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.pr-100 {
  padding-right: 100px;
}

.pl-100 {
  padding-left: 100px;
}


.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  gap: 20px;
}

form {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style des labels */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
  
/* Style des champs de saisie */
input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
}
  
/* Placeholder en gris */
input::placeholder, textarea::placeholder {
  color: #bbb;
}

/* Effet focus */
input:focus, textarea:focus {
  border-color: #0070f3;
  outline: none;
  background: white;
}

/* Taille spécifique pour textarea */
textarea {
  min-height: 100px;
  resize: vertical;
}

form button{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: grey;
  transform: scale(1.05);
}

.h1Margin{
  margin: 30px 0px 30px 0px;
}

main {
  padding: 0px 12vw 0px 12vw;
  margin-bottom: 30px;
}

.widthCard{
  width: 80%;
}

.mtAuto{
  margin-top: auto;
}

.h2whitoutMargin{
  margin: 0;
}

.btnSavoirPlus {
  background-color: #628461;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnSavoirPlus:hover {
  background-color: #4a6b4a;
  transform: scale(1.05);
}
 

 @media (max-width: 768px) {

  p{
    font-size: 1.3rem;
  }

  h2{
    font-size: 5vw;
  }

  .grid2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .h1Margin{
    margin: 20px 0px 10px 0px;
  }

  .gap40 {
    gap: 20px;
  }

  .eventContainer {
    text-align: center;
  }

  .responsiveReverseColumn{
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .responsiveColumn{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .pr-100 {
    padding-right: 0px;
  }

  .pl-100 {
    padding-left: 0px;
  }

  .btnSavoirPlus {
    width: 140px;
  }

  .w-40, .w-60{
    width: 100%;
  }


}

@media (max-width: 576px){
  section {
    padding: 50px 0px 0 0px;
  }

  h1{
    font-size: 2.5rem
  }

  p{
    font-size: 1rem;
    line-height: 19px;
  }

  h2{
    font-size: 7vw;
  }
  
  .widthCard{
    width: 90%;
  }

}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Footer.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/

footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
    background-color: #F2F2F2;
}

footer p {
    font-size: 1rem!important;
}

@media (max-width: 768px) {
footer {
    padding: 15px;
}
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Navbar.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/* style light */
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Trois colonnes égales */
    align-items: center;
    padding: 1rem 2rem;
    position: -webkit-sticky;
    position: sticky;
    background-color: #628461;
}

.header > nav {
    display: flex;
    align-items: center;
}

.header > div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.header > div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}


.nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #FFFAEC;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.link.active {
    font-weight: bold;
    color: #E9DAAE;
}

.link:hover {
    color: #E9DAAE;
}


.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #FFFAEC;
    color: #628461;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #E9DAAE;
    transform: scale(1.05);
}

.button::after {
    content: "Prendre rendez-vous";
}

/* Styles pour le menu hamburger */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

/* Media 768px */
@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%; 
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 10;
        padding-left: 1rem;
        gap: 1rem;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .menu-toggle-bar {
        width: 100%;
        height: 3px;
        background-color: #FFFAEC;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /* Transformation du hamburger en croix */
    .menu-toggle.active .menu-toggle-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 35px;
    }
    .menu-toggle.active .menu-toggle-bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .menu-toggle-bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        width: 35px;
    }

    .nav.open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        background-color: #628461;
        padding-bottom: 15px;
        margin-top: 25px;
    }

    .link{
        font-size: 1rem;
    }

    .button::after {
        content: "Réserver";
    }
}


@media (max-width: 576px){
    .button{
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        margin-left: 15px;
    }
}
